Aurea.Maintenance.Debugger.AEPEnergy/Connected Services/AEPEnroll/Metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CIS.Clients.AEPEnergy.Models.Legacy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CIS.Clients.AEPEnergy.Models.Legacy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RateTransitionMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContractInterrupted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewRateTransitionId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RateTransitionMessage" nillable="true" type="tns:RateTransitionMessage" />
</xs:schema>